/* tweak some of the internal styles */
.reveal .slides section {
    height: 90%;
    padding: 0;
}

.reveal .slide-number {
  right: 15px;
  bottom: 15px;
  font-size: 20px;
  color: #000;
  background-color: #FFF;
}

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img,
.reveal section video {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  object-fit: inherit;
}

.reveal section img.plain,
.reveal section video.plain {
    border: 4px solid transparent;
    box-shadow: none;
    background: rgba(0,0,0,0);
}

.reveal .slides section .content figure figcaption {
    font-size: 0.75em;
}

/* title slide layout */
.reveal .slides section #title {
    background-color: rgba(0, 0, 0, 0.1);
    height: 95%;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 60% auto;
    padding: 1.25%;
}

.reveal .slides section #title #heading {
    grid-column:1/span 2;
    grid-row:1;
    align-self:center;
}

.reveal .slides section #title #affiliation {
    grid-column:2;
    grid-row:2;
}

.reveal .slides section #title #author {
    grid-column:1;
    grid-row:2;
    align-self:end;
    text-align:right;
}

/* general slide layouts */
.reveal .slides section .header {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

.reveal .slides section .content {
    background-color: rgba(0, 0, 0, 0.1);
    height: 80%;
    padding: 1.25%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 10pt;
    grid-row-gap: 10pt;
/*    align-items: center;
    justify-content: center; */
}

.reveal .slides section .content p,
.reveal .slides section .content ol,
.reveal .slides section .content ul,
.reveal .slides section .content img,
.reveal .slides section .content figure,
.reveal .slides section .content video {
    grid-column:1;
    grid-row:1;
}

.reveal .slides section .content ul li,
.reveal .slides section .content ol li {
    padding-bottom: 10px;
}

.reveal .slides section .content ul,
.reveal .slides section .content ol {
    padding-bottom: 20px;
}



